*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #ebf3f5;
    color: #333;
}
.top-header{
    background-color: #ebf3f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 8%;
}
.utility-links{
    font-size: 0.85rem;
    color: #666;
}
.utility-links a{
    text-decoration: none;
    color: #666;
    margin: 0 10px;
}
.utility-links a:hover{
    text-decoration: underline;
}
.nav-image{
height: 105px;
}
.main-nav{
    display: flex;
    gap: 60px;
    justify-content: center;
    color: white;
    background-color: #5A003C;
    padding: 25px;
    margin: 10px 20px;
}
.main-nav a{
    text-decoration: none;
    color: white;
    border-radius: 5px;
    font-size: 20px;
}
.main-nav a:hover{
    color:gold;
}
.search-bar{
    justify-content: center;
    display: flex;
    margin: 15px 0;
}
.search-bar input{
    width: 600px;
    padding: 4px 8px;
    border: 1px solid #ccc;
    font-size: 0.85rem;
}